# Logs
logs
*.log

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
node_modules
bower_components

#Build directory
public/*

# Cache stuff
.cache/*

# SWP files
*.swp

# OSX metadata
*.DS_Store
